@model PEDS_XWFC.Models.MainPage
@{
    Layout = "~/Views/Templates/HomeLayout.cshtml";
    ViewBag.Title = "Main Page";
}



<h1 style="text-align:center"><strong>X-FIFA World Cup</strong></h1>


<form class="container">
    <div class="row">
        <div class="col-xs-4">
            @Html.Label("Torneos")
            @Html.DropDownListFor(m => m.Tournament.NameTournament,  new SelectList(Model.ListTournaments, "Value", "Text"),
             htmlAttributes: new { @class = "list-inline  form-control", @size = "20", @formaction = @Url.Action("Calendar") })
            <button type="submit" formaction=@Url.Action("Calendar", "MainPage", new {idFanatic = Model.idUserFanatic}) formmethod="post" style="visibility:hidden"></button>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <h4>@PEDS_XWFC.Properties.Resources.Calendar @Html.Raw(Model.Tournament.NameTournament)</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            @Html.Raw(Model.Calendar)
                        </tbody>
                    </table>
                </div>
                @{
                    string visibility = "hidden";
                    if (Model.VisibilityVR == true){
                        visibility = "visible";
                    }
                    string visibility1 = "hidden";
                    if (Model.VisibilitySIT == true){
                        visibility1 = "visible";
                    }
                    string visibility2 = "hidden";
                    if (Model.VisibilityVDT == true){
                        visibility2 = "visible";
                    }
                }
                <button type="button" class="btn btn-primary" style="visibility:@visibility">@PEDS_XWFC.Properties.Resources.ViewRanking</button>
                <button type="button" class="btn btn-primary" style="visibility:@visibility2">@PEDS_XWFC.Properties.Resources.ViewDreamTeam</button>
                <button type="button" class="btn btn-danger" style="visibility:@visibility1" 
                        formaction=@Url.Action("Subscription", "MainPage", new {idFanatic = Model.idUserFanatic}) formmethod="post">@PEDS_XWFC.Properties.Resources.SignIn</button>
            </div>
        </div>
    </div>
</form>



