@model PEDS_XWFC.Models.MainPage
@{
    Layout = "~/Views/Templates/HomeLayout.cshtml";
    ViewBag.Title = "Main Page";
}



<h1 style="text-align:center"><strong>X-FIFA World Cup</strong></h1>


<form class="container">
    <div class="row">
        <div class="col-xs-4">
            @Html.Label("Torneos")
            @Html.DropDownListFor(m => m.Tournament.NameTournament,  new SelectList(Model.ListTournaments, "Value", "Text"),
             htmlAttributes: new { @class = "list-inline  form-control", @size = "20", @formaction = @Url.Action("Calendar") })

            <button type="submit" formaction=@Url.Action("Calendar") formmethod="post" style="visibility:hidden"></button>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <h4>@PEDS_XWFC.Properties.Resources.Calendar @Html.Raw(Model.Tournament.NameTournament)</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            @Html.Raw(Model.Calendar)
                        </tbody>
                    </table>
                </div>
                <button name="buttonViewRankingTournament" type="button" class="btn btn-primary" style="visibility:hidden">@PEDS_XWFC.Properties.Resources.ViewRanking</button>
                <button name="buttonViewDTSignInTournament" type="button" class="btn btn-primary" style="visibility:hidden">@PEDS_XWFC.Properties.Resources.ViewDreamTeam</button>
                <button name="buttonSignInTournament" type="button" class="btn btn-danger">@PEDS_XWFC.Properties.Resources.SignIn</button>
            </div>
        </div>
    </div>
</form>



