@{
    Layout = "~/Views/_Layout.cshtml";
}

<h1>X-FIFA World Cup</h1>

<form>
    <div class="form-group">
        <label>@PEDS_XWFC.Properties.Resources.Email</label>
        <input type="email" class="form-control" placeholder=@PEDS_XWFC.Properties.Resources.Email  >
    </div>
    <div class="form-group">
        <label>@PEDS_XWFC.Properties.Resources.Password</label>
        <input type="password" class="form-control" placeholder=@PEDS_XWFC.Properties.Resources.Password>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">@PEDS_XWFC.Properties.Resources.LogIn</button>
        <button type="button" onclick="location.href='@Url.Action("SignUp", "SignUp")'">@PEDS_XWFC.Properties.Resources.SignUp</button>
    </div>
    
    
</form>