@model PEDS_XWFC.Models.MainPageAdmin
@{
    Layout = "~/Views/Templates/HomeLayout.cshtml";
    ViewBag.Title = "New Tournament";
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      body {
      position: relative;
      }
      .affix {
          top: 20px;
          z-index: 9999 !important;
      }
      .table-wrapper {
          display: block;
          max-height: 300px;
          overflow-y: auto;
          -ms-overflow-style: -ms-autohiding-scrollbar;
      }
      #section1 {padding-top:50px;height:500px;}
      #section2 {padding-top:50px;height:700px;}
      #section3 {padding-top:50px;height:500px;}
      #section4 {padding-top:50px;height:500px;}
      #section5 {padding-top:50px;height:500px;}

    </style>
</head>
<body data-spy="scroll"  data-offset="15">
    <div class="container">
        <div class="row">
            <nav class="col-sm-3">
                <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="20">
                    <li><a href="#section1">Datos</a></li>
                    <li><a href="#section2">Agregar equipos</a></li>
                    <li><a href="#section3">Agregar patrocinadores</a></li>
                </ul>
            </nav>
            <div class="col-sm-9">
                <div id="section1">
                    <h1>Nuevo Torneo</h1>
                    <hr />
                    <div class="row">
                        <div class="form-group">
                            @Html.Label("Nombre torneo")
                            @Html.TextBoxFor(m => m.Tournament.NameTournament, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-6 col-lg-4">
                            @Html.Label("Pais sede")
                            @Html.DropDownListFor(m => m.Tournament.Country, Model.ListCountries, htmlAttributes: new { @class = "form-control", id = "Country" })
                        </div>
                        <div class="col-sm-3 col-md-6 col-lg-4">
                            @Html.Label("Patrocinador")
                            @Html.DropDownListFor(m => m.Tournament.MainSponsor, Model.ListSoponsors, htmlAttributes: new { @class = "form-control", id = "Sponsor" })
                        </div>
                    </div>
                    
                    <div class="row" style="margin-top:20px">
                        
                        <div class="col-sm-3 col-md-6 col-lg-4">
                            @Html.Label("Fecha de inicio")
                            @Html.TextBoxFor(m => m.Tournament.StartDate, new { @class = "form-control", @type = "date" })
                        </div>

                        <div class="col-sm-3 col-md-6 col-lg-4">
                            @Html.Label("Fecha final")
                            @Html.TextBoxFor(m => m.Tournament.FinishDate, new { @class = "form-control", @type = "date" })
                        </div>
                    </div>
                </div>
                <div id="section2">
                    <h1>Agregar equipos</h1>
                    <hr />
                    @Html.Label("Paises disponibles")
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.Team, Model.ListCountriesToTournament, htmlAttributes: new { @class = "form-control", id = "Country" })

                        <span class="input-group-btn">
                            <button formaction=@Url.Action("AddTeam", "MainPageAdmin") formmethod="post" class="btn btn-outline-secondary" type="submit">Agregar</button>
                        </span>
                    </div>

                    @Html.Label("Paises para el torneo", new { style = "margin-top:30px" })
                    <div class="form-group pre-scrollable" style="height:200px">
                        <table class="table table-hover table-condensed table-responsive table-bordered">
                            <tbody>
                                @Html.Raw(Model.viewListTeams)
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="section3">
                    <h1>Agregar patrocinadores</h1>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
